<!DOCTYPE HTML>
<html>
 <head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <link href="styles/styles.css" media="screen" rel="stylesheet" type="text/css" />
<!--<link href="C:\Users\dylang\Pictures\Stoked or pumped\style.css" media="screen" rel="stylesheet" type="text/css" /> --><script src="js/script.js" type="text/javascript"></script>  
  <title>To Do</title>
 </head>
 <body>
 <h1>Listing to dos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td Title="Click to remove to do" ><%= link_to todo.name, todo, method: :delete, data: { confirm: 'Are you sure you want to clear to do?' }%></td>
    <td><%= todo.description %></td>
  </tr>
<% end %>
</table>

<br />

<h2>New to do</h2>

<%= render 'form' %>

</body>
</html>

